.testHed {
    &__wraper {
        position: relative;
        color: white;
        background: url("../../assets/imges/dsBuffer.bmp.png");
        background-position: 0 -13px;
        background-repeat: repeat-x;
        height: 128px;
    }

    &__heder {
        top: 0;
        background: none;
        width: 1160px;
        position: relative;

        &-label {
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-linc {
            font-size: 20px;

            div {
                margin-left: 15px;

                &:hover {
                    font-size: 24px;
                }

                i {
                    font-size: 10px;
                }
            }
        }

        &-phone {
            font-size: 1.5rem;
        }

        &-fut {
            width: 1160px;

            li {
                list-style: none;
                font-size: 20px;
                margin-right: 15px;

                &:hover {
                    font-size: 24px;
                }
            }

            &_activ {
                color: #DBA42C;
                margin-left: 15px;
            }
        }
    }
}

.phone-teleg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DBA42C;
    color: black;
    margin-left: 50px;
}