<div class="testHed__wraper full-width flex flex-column flex-item-center">
    <div class="testHed__heder full-width flex flex-justify-between flex-item-center">
        <div class="testHed__heder-label">
            <img src="../../assets/imges/hed-icon.png" alt="Иконка не загрузилась">
        </div>
        <div class="testHed__heder-linc flex">
            <div class="cursor-pointer font-border">
                <pre>Листогибы <i class="bi bi-caret-down-fill"></i></pre>
            </div>
            <div class="cursor-pointer font-border">
                <pre>Запчасти для листогибов <i class="bi bi-caret-down-fill"></i></pre>
            </div>
            <div class="cursor-pointer font-border">
                <pre> О компании <i class="bi bi-caret-down-fill"></i></pre>
            </div>
        </div>
        <div class="testHed__heder-phone flex flex-item-center font-border">
            <pre> 8(800)505-95-90</pre>
            <div class="phone-teleg flex flex-center cursor-pointer">
                <i class="bi bi-send-fill" style="font-size: 2rem; background-color: #DBA42C; color: black;"></i>
            </div>
        </div>
    </div>
    <div class="testHed__heder-fut full-width">
        <ol class="flex flex-justify-start">
            <li class="linc">
                <span class="cursor-pointer">Главная</span>
                <span class="testHed__heder-fut_activ">/</span>
            </li>
            <li class="linc">
                <span class="cursor-pointer">Запчасти</span>
                <span class="testHed__heder-fut_activ">/</span>
            </li>
            <li>
                <span class="cursor-pointer">Запчасти Тарсо</span>
                <span class="testHed__heder-fut_activ">/</span>
            </li>
            <li class="linc">
                <span class="cursor-pointer">Ролик режущий на нож Tapco</span>
                <span class="testHed__heder-fut_activ">/</span>
            </li>
        </ol>
    </div>
</div>