<div class="bodySelector__wraper flex flex-justify-center full-size">
    <div class="bodySelector__body full-heigth">
        <div class="bodySelector__body-tovar full-width flex flex-center">
            <div class="tovar__img">
                <ImegesHelper class="full-size" :baseUrl="baseUrl" />
                <div class="flex full-width flex-justify-center" style="color:white;">
                    <el-button class="tovar__img-icon" :class="{ 'actib-el': checElValue(baseUrl, 'tovar.png') }"
                        @click="newBaseUrl('tovar.png')"><i class="bi bi-circle-fill"></i></el-button>
                    <el-button class="tovar__img-icon" :class="{ 'actib-el': checElValue(baseUrl, 'tovar-3.png') }"
                        @click="newBaseUrl('tovar-3.png')"><i class="bi bi-circle-fill"></i></el-button>
                    <el-button class="tovar__img-icon" :class="{ 'actib-el': checElValue(baseUrl, 'tovar-4.png') }"
                        @click="newBaseUrl('tovar-4.png')"><i class="bi bi-circle-fill"></i></el-button>
                </div>
            </div>
            <div class="tovar__text flex flex-column flex-justify-center">
                <ElHeading class="tovar__text-hed">
                    Ролик режущий на нож Tapco
                </ElHeading>
                <ol>
                    <li>
                        <span class="tovar__text-type">Производитель:</span>
                        <span class="tovar__text-value">ТАРКО</span>
                    </li>
                    <li>
                        <span class="tovar__text-type">Страна:</span>
                        <span class="tovar__text-value">США</span>
                    </li>
                    <li>
                        <span class="tovar__text-type">Гарантия:</span>
                        <span class="tovar__text-value">12 месяцев</span>
                    </li>
                    <li>
                        <span class="tovar__text-type">Наличие:</span>
                        <span class="tovar__text-value">
                            <i class="bi bi-check" v-if="tovarValue > 0" style="color:green;"></i>
                            <i class="bi bi-x" v-else style="color: red;"></i>
                            {{ tovarValue > 0 ? 'В наличии': 'Нет в наличии'}}
                        </span>
                    </li>
                </ol>
                <el-button class="tovar__text-btn radius-border" @click="buyTovar()">Заказать
                    товар</el-button>
            </div>
        </div>
        <div class="bodySelector__body-text full-width flex-justify-center">
            <div class="bodySelector__body-text-linc full-width flex flex-justify-start">
                <div class="linc cursor-pointer" @click="clickLinc('Описание')"
                    :class="{'linc-activ': this.activLinc === 'Описание'}">
                    Описание
                </div>
                <div class="linc cursor-pointer" @click="clickLinc('Характеристики')"
                    :class="{'linc-activ': this.activLinc === 'Характеристики'}">
                    Характеристики
                </div>
            </div>
            <div class="bodySelector__body-text-description">
                <span>
                    Если во время эксплуатации листогиба Tapco Max-20 вышла из строя (или сломалась) какая-либо его
                    часть, и
                    вы не знаете куда обратиться за помощью — вы попали по адресу. Для того, чтобы точно узнать
                    стоимость
                    замены какой-либо детали или узла вам необходимо воспользоваться схемой сборки и деталировкой
                    листогиба
                    Тапко и определить артикульный номер нужной вам детали. По артикулу вы узнаете стоимость запчасти.
                    Практически все артикульные позиции имеются в наличии у нас на складах. Бывает часто так, что
                    необходимо
                    заменить на листогибе силиконовую ленту на гибочной балке (или по другому вставка виниловая) и
                    несколько
                    кулачков в сборе, которые постоянно участвуют в процессе фиксации и зажима металлического листа и с
                    определенной периодичностью могут выходить из строя, и в решение этого вопроса производителем
                    данного
                    оборудования был сформирован специальный комплект расходных материалов. Купив его клиент выигрывает
                    по
                    стоимости, в сравнении с тем, если покупать каждую позицию по отдельности
                </span>
            </div>
        </div>
        <div class="bodySelector__body-dopTovar">
            <ElHeading class="tovar__text-hed" style="margin-top: 100px;">
                Рекомендуемые товары
            </ElHeading>
            <div class="bodySelector__body-dopTovar-tovar full-width">
                <ol class="flex flex-justify-between" v-if="this.futBtn === 1">
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-2.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Ролик режущий на нож Tapco
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span>Ролик направляющий подходит на все модели роликовых ножей Tapco</span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn">Подробнее</el-button>
                            <el-button class="activ-btn">Оформить заказ</el-button>
                        </div>
                    </li>
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-3.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Роликовый нож Tapco
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span></span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn radius-border">Подробнее</el-button>
                            <el-button class="activ-btn radius-border">Оформить заказ</el-button>
                        </div>
                    </li>
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-4.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Корпус для роликового ножа Tapco Max Cut Off
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span></span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn radius-border">Подробнее</el-button>
                            <el-button class="activ-btn radius-border">Оформить заказ</el-button>
                        </div>
                    </li>
                </ol>
                <ol class="flex flex-justify-between" v-if="this.futBtn === 2">
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-3.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Роликовый нож Tapco
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span></span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn radius-border">Подробнее</el-button>
                            <el-button class="activ-btn radius-border">Оформить заказ</el-button>
                        </div>
                    </li>
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-4.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Корпус для роликового ножа Tapco Max Cut Off
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span></span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn radius-border">Подробнее</el-button>
                            <el-button class="activ-btn radius-border">Оформить заказ</el-button>
                        </div>
                    </li>
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-2.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Ролик режущий на нож Tapco
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span>Ролик направляющий подходит на все модели роликовых ножей Tapco</span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn">Подробнее</el-button>
                            <el-button class="activ-btn">Оформить заказ</el-button>
                        </div>
                    </li>
                </ol>
                <ol class="flex flex-justify-between" v-if="this.futBtn === 3">
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-3.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Роликовый нож Tapco
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span></span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn radius-border">Подробнее</el-button>
                            <el-button class="activ-btn radius-border">Оформить заказ</el-button>
                        </div>
                    </li>
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-2.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Ролик режущий на нож Tapco
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span>Ролик направляющий подходит на все модели роликовых ножей Tapco</span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn">Подробнее</el-button>
                            <el-button class="activ-btn">Оформить заказ</el-button>
                        </div>
                    </li>
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-4.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Корпус для роликового ножа Tapco Max Cut Off
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span></span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn radius-border">Подробнее</el-button>
                            <el-button class="activ-btn radius-border">Оформить заказ</el-button>
                        </div>
                    </li>
                </ol>
                <div class="dopTovar-icon flex full-width flex-justify-center">
                    <el-button class="tovar__img-icon" @click="newValueFutBtn(1)"
                        :class="{ 'actib-el': checElValue(futBtn, 1) }"><i class="bi bi-circle-fill"></i></el-button>
                    <el-button class="tovar__img-icon" @click="newValueFutBtn(2)"
                        :class="{ 'actib-el': checElValue(futBtn, 2) }"><i class="bi bi-circle-fill"></i></el-button>
                    <el-button class="tovar__img-icon" @click="newValueFutBtn(3)"
                        :class="{ 'actib-el': checElValue(futBtn, 3) }"><i class="bi bi-circle-fill"></i></el-button>
                </div>
            </div>
        </div>
    </div>
</div>