<div class="bodySelector__wraper flex flex-justify-center full-size">
    <div class="bodySelector__body full-heigth">
        <div class="bodySelector__body-tovar full-width flex flex-center">
            <div class="tovar__img">
                <img class="full-size" src="../../assets/imges/tovar.png" alt="изображение не отображаеться">
                <div class="flex full-width flex-justify-center" style="color:white;">
                    <el-button class="tovar__img-icon"><i class="bi bi-circle-fill"></i></el-button>
                    <el-button class="tovar__img-icon"><i class="bi bi-circle-fill"></i></el-button>
                    <el-button class="tovar__img-icon"><i class="bi bi-circle-fill"></i></el-button>
                </div>
            </div>
            <div class="tovar__text flex flex-column flex-justify-center">
                <ElHeading class="tovar__text-hed">
                    Ролик режущий на нож Tapco
                </ElHeading>
                <ol>
                    <li>
                        <span class="tovar__text-type">Производитель:</span>
                        <span class="tovar__text-value">ТАРКО</span>
                    </li>
                    <li>
                        <span class="tovar__text-type">Страна:</span>
                        <span class="tovar__text-value">США</span>
                    </li>
                    <li>
                        <span class="tovar__text-type">Гарантия:</span>
                        <span class="tovar__text-value">12 месяцев</span>
                    </li>
                    <li>
                        <span class="tovar__text-type">Наличие:</span>
                        <span class="tovar__text-value">
                            В наличии
                        </span>
                    </li>
                </ol>

            </div>
        </div>
        <div class="bodySelector__body-text full-width flex-justify-center">
            <div class="bodySelector__body-text-linc full-width flex flex-justify-start">
                <div class="linc cursor-pointer">
                    Описание
                </div>
                <div class="linc cursor-pointer">
                    Характеристики
                </div>
            </div>
            <div class="bodySelector__body-text-description">
                Если во время эксплуатации листогиба Tapco Max-20 вышла из строя (или сломалась) какая-либо его часть, и
                вы не знаете куда обратиться за помощью — вы попали по адресу. Для того, чтобы точно узнать стоимость
                замены какой-либо детали или узла вам необходимо воспользоваться схемой сборки и деталировкой листогиба
                Тапко и определить артикульный номер нужной вам детали. По артикулу вы узнаете стоимость запчасти.
                Практически все артикульные позиции имеются в наличии у нас на складах. Бывает часто так, что необходимо
                заменить на листогибе силиконовую ленту на гибочной балке (или по другому вставка виниловая) и несколько
                кулачков в сборе, которые постоянно участвуют в процессе фиксации и зажима металлического листа и с
                определенной периодичностью могут выходить из строя, и в решение этого вопроса производителем данного
                оборудования был сформирован специальный комплект расходных материалов. Купив его клиент выигрывает по
                стоимости, в сравнении с тем, если покупать каждую позицию по отдельности
            </div>
        </div>
        <div class="bodySelector__body-dopTovar">
            <ElHeading class="tovar__text-hed" style="margin-top: 100px;">
                Рекомендуемые товары
            </ElHeading>
            <div class="bodySelector__body-dopTovar-tovar full-width">
                <ol class="flex flex-justify-between">
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-2.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Ролик режущий на нож Tapco
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span>Ролик направляющий подходит на все модели роликовых ножей Tapco</span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn">Подробнее</el-button>
                            <el-button class="activ-btn">Оформить заказ</el-button>
                        </div>
                    </li>
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-3.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Роликовый нож Tapco
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span></span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn radius-border">Подробнее</el-button>
                            <el-button class="activ-btn radius-border">Оформить заказ</el-button>
                        </div>
                    </li>
                    <li class="dopTovar-tovar flex flex-column flex-justify-between">
                        <img class="dopTovar-tovar-img full-width" src="../../assets/imges/tovar-4.png"
                            alt="изображение не отображаеться">
                        <ElHeading class="dopTovar-tovar-hed">
                            Корпус для роликового ножа Tapco Max Cut Off
                        </ElHeading>
                        <div class="dopTovar-tovar-text">
                            <span></span>
                        </div>
                        <div class="dopTovar-tovar-btn flex flex-justify-start">
                            <el-button class="base-btn radius-border">Подробнее</el-button>
                            <el-button class="activ-btn radius-border">Оформить заказ</el-button>
                        </div>
                    </li>
                </ol>
                <div class="dopTovar-icon flex full-width flex-justify-center">
                    <el-button class="tovar__img-icon"><i class="bi bi-circle-fill"></i></el-button>
                    <el-button class="tovar__img-icon"><i class="bi bi-circle-fill"></i></el-button>
                    <el-button class="tovar__img-icon"><i class="bi bi-circle-fill"></i></el-button>
                </div>
            </div>
        </div>
    </div>
</div>